<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YT_DLP.player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YT_DLP.player.Properties.Settings>
            <setting name="DeleteOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPlayAfterDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DownloadVideoFormat" serializeAs="String">
                <value>bestvideo</value>
            </setting>
            <setting name="DownloadAudioFormat" serializeAs="String">
                <value>bestaudio</value>
            </setting>
            <setting name="PreferredLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="NormalizeAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResumeLastPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarnLargeDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeDownloadsThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CustomDownloadLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationLightMode" serializeAs="String">
                <value>False</value>
            </setting>
        </YT_DLP.player.Properties.Settings>
    </userSettings>
</configuration>